
*{
    margin:0; 
    padding:0;
}
/*Ponemos ciertos atribtos que van a ser usados en todo el cuerpo del html*/
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    text-align: center;    
    background-color: #5F7161;
    background-size: cover; 
    scroll-behavior: smooth;
}
/*---------HEADER---------*/

header {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex; /*Usamos displey flex para lograr que los elementos se puedan ubicar uno al lado del otro luego*/
}
header h1{
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: 'Reboto Flex', sans-serif;
}
figure {
    width:40%;
    height: 200px;
    display: flex;
    text-align: center; /*alineamos en el eje x un texto que está dentro de un elemento contenedor*/
    align-items: center; /*alineamos en el eje y al elemento flex*/
}

header figure img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
nav {
    width: 60%;
    height: 200px;
     display: flex; 
     align-items: center;
} 
header nav ul{
    width: 100%;
    height: 100px;
    display: flex; /*para situarlo correctamente */
    align-items: center;     
    
    text-align: center;
}
nav ul li{
    padding: 20px;
    text-decoration: none; /*para eliminar la viñeta de lista*/
    display: inline-block; /*para que se coloquen en linea */
    align-items: center;
    margin: 0 auto;  /*alinear elemento de bloque*/
}
header nav ul li a{
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;/*para que se elimine el subrayado del enlace a*/
    display: block;
    text-align: center; /*para alinear texto*/
}
/*elegimos como va a lucir el menú una vez se pare el mouse sobre él*/
header nav ul li a:hover{
    background-color: tomato;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px; /*para lograr el efecto redondeado del padding*/
}
 /* ---------SECCION UNO-BANNER---------*/

#seccionUno{
    height: 550px;
    background-image: url('../img/casita.jpg');
    background-size: cover;
    background-position: 0 -650px; /*elegimos que parte de la foto queremos mostrar*/
    background-repeat: no-repeat; /*para que no se repita la foto*/
}
 #seccionUno article {
    width: 600px;
    padding-top: 370px;/*para lograr que el elemento se separe del margen superior*/
    margin: 0 auto;/*centrado de elemento en bloque*/
} 
 #seccionUno h1{
     width: 50%;
     font-size: 35px;
    text-align: center;
    margin: 0 auto; 
    background-color: rgba(239, 224, 202,0.5);
    color: rgb(22, 19, 19);
 }
#seccionUno  p{
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: white;
}

 /* ---------SECCION DOS-PROMOS---------*/

 #seccionDos{
    background-color: #EFEAD8;
     height: 550px;
 }
#seccionDos article, #seccionTres article{
      width: 100%;
      height: 100px;
  }
 #seccionDos h2, #seccionTres h2, #seccionCuatro h2, #seccionCinco h2{
    padding: 30px;
    font-size: 27px;
    text-align: center; /*alineamos el texto en el centro de la seccion*/
  }
#seccionDos article{
    width: 550px;
    text-align: left;
    margin: auto 20px;
    display: inline-block; /*colocamos los dos articulos en linea*/
}
#seccionDos article figure{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}
article figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
article h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    margin-top: 18px;
    margin-bottom: 10px;
}
.parafo{
    text-align: left;
    display: inline-block;
}
.pieDeCard{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.button{
    padding: 5px;
    color: rgb(255, 253, 253);
    background-color: rgb(59, 52, 52);
}
/*elegimos como va a lucir el botón una vez se pare el mouse sobre él*/
.button:hover{
    background-color: tomato;
    color: white;
}

/*---------SECCION TRES-FOTOS---------*/

#seccionTres{
    width: 100%;
    height: 600px;
    background-color: #6D8B74;
}
#seccionTres h2{
    color:white;
}
#contenedorDeFigures{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px auto auto 300px; /*establezco la cantidad de columnas y filas que llevara la grilla*/
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
}
/*elegimos modificar el primer hijo de figures*/
#contenedorDeFigures figure:nth-child(1){
    width: 300px; 
    height: 400px;
    grid-column: 1;
    grid-row: 1 / 3;
}
#contenedorDeFigures figure:nth-child(2), #contenedorDeFigures figure:nth-child(3),#contenedorDeFigures figure:nth-child(5),#contenedorDeFigures figure:nth-child(6){
    width: 100%;
    height: 95%;
    margin: 0 auto;
}
/*elegimos modificar el cuarto hijo de figures*/

#contenedorDeFigures figure:nth-child(4){
    width: 300px; 
    height: 400px;
    grid-column: 4;
    grid-row: 1 / 3;
}
#contenedorDeFigures img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*para que cubra todo el espacio disponible*/
}  
/*---------SECCION CUATRO-TARIFAS---------*/

#seccionCuatro{
    width: 100%;
    height: 650px;
    color: rgb(15, 13, 13); 
    background-color: #EFEAD8;
    padding-top: 10px;
}
#seccionCuatro article{
    text-align: left;
    display: inline-block; /*utilizamos inline-block para que se coloquen uno al lado del otro*/
    width: 265px;
    height: 250px;
    margin: 15px;
}
#seccionCuatro article figure{
    width: 265px;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#seccionCuatro h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    padding-top: 8px;
}
.puntuacion{
    padding: 5px;
}
#seccionCuatro p{
    font-family: 'Montserrat', sans-serif; /*elijo la fuente de gogle fonts*/
    font-weight: lighter;
}
/*---------SECCION CINCO-RESERVAS---------*/

#seccionCinco{
    height: 300px;
    background-color: #6D8B74;
    color: white;
    font-size: 17px;
}

form {
    width: 450px;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    grid-template-columns: 220px 220px;
    grid-template-rows: 70px 70px 80px;
    display: grid;
    margin: auto;
    justify-content: center; 
}
form fieldset:nth-child(3){ /*establezco que posicion en la grilla va a ocupar*/
    grid-column: 1 / 3;
    grid-row: 2;
}
form fieldset:nth-child(4){
    grid-column: 1 / 3;
    grid-row: 3;
}
fieldset{
    border: 0;
}
form input{
    width: 200px;
    height: 20px;
    display: block;
    text-align: center;
}
form input[type=submit]{
    display: block;
    width: 100px;
    margin: 10px auto;
}
select{
    width: 390px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: auto auto;
}
.input{
    height: 25px;
    color: rgb(255, 253, 253);
    background-color: rgb(59, 52, 52);
}
.input:hover{
    background-color: tomato;
    color: white;
}

/*---------FOOTER---------*/

footer{
    background-color: #EFEAD8;
    color: rgb(26, 26, 20);
    width: 100%;
    height:55px;
    padding: 25px;
}
footer ul{
    width: 1200px;
    height: 40px;
    list-style-type: none;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /*para que se separen uno de otro*/
}
footer ul li{
    display: flex;
}
footer ul li a{
    text-decoration: none;
    color: rgb(18, 15, 15);
    display: flex; /* Se coloca flex para que queden las cosas una al lado de la otra */
     margin-right: 20px; 
}
footer img{
    height: 30px;
    padding: 10px;    
}
footer ul li a p{
    padding: 10px;
    margin-top: 7px;
}
footer figure{
    height: 55px;
    margin-right: 5px;
}
#booking img{
    width: 60%;
    height: 40%;
}
